<h1>My Learnings</h1>

<h3>Kotlin</h3>
<mat-list>
    <mat-list-item class="pathitem" *ngFor="let learnings of data; last as last; index as index" style="height: 30px;">
        <p>{{index+1}}. {{learnings.title}}</p>
    </mat-list-item>
  </mat-list>
  
<h3>Android</h3>
<mat-list>
    <mat-list-item class="pathitem" *ngFor="let learnings of data; last as last; index as index" style="height: 30px;">
        <p>{{index+1}}. {{learnings.title}}</p>
    </mat-list-item>
  </mat-list>
  
<h3>DS & Algo</h3>
<mat-list>
    <mat-list-item class="pathitem" *ngFor="let learnings of data; last as last; index as index" style="height: 30px;">
        <p>{{index+1}}. {{learnings.title}}</p>
    </mat-list-item>
  </mat-list>
  
